<a href="https://colab.research.google.com/github/sandhya111205/principle-of-datascience/blob/main/Different_types__of__files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program in python read and write different types of files and also display it.(csv,txt,json)

In [ ]:
#mount the drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
df_csv=pd.read_csv('/content/gdrive/MyDrive/principle of datascience/ datasets/iris_csv.csv')
df_csv

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
df_txt=pd.read_csv('/content/gdrive/MyDrive/principle of datascience/ datasets/txt.zip')
df_txt

            Welcome to Natural Language Processing
0  It is one of the most exciting research areas ...
1  We will see how Python can be used to work wit...

In [ ]:
df_json=pd.read_json('/content/gdrive/MyDrive/principle of datascience/ datasets/json.zip')
print(df_json)

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

**While using the iris dataset find the followings**

1.How many rows does it contain?How many coloumn?

In [ ]:
import pandas as pd
iris=pd.read_csv('/content/gdrive/MyDrive/principle of datascience/ datasets/iris_csv.csv')
iris.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
iris.shape

(150, 5)

In [ ]:
iris.shape[0]

150

In [ ]:
iris.shape[1]

5

In [ ]:
len(iris)

150

2.compute the average prtal length

In [ ]:
avg=iris['petallength'].mean()
print("average of petal length =",avg)

average of petal length = 3.758666666666666

3.Compute the average of all numerical column

In [ ]:
print("average of sepal length =",iris['sepallength'].mean())
print("average of sepal width =",iris['sepalwidth'].mean())
print("average of petal length =",iris['petallength'].mean())
print("average of petal width =",iris['petalwidth'].mean())

average of sepal length = 5.843333333333334
average of sepal width = 3.0540000000000003
average of petal length = 3.758666666666666
average of petal width = 1.1986666666666668

4.Extract the ptal length outlies(i.e, those rows whose petal length is 50% longer than the avg petal length)

In [ ]:
iris.iloc[5]

sepallength            5.4
sepalwidth             3.9
petallength            1.7
petalwidth             0.4
class          Iris-setosa
Name: 5, dtype: object

In [ ]:
print(iris['petallength']>50%(avg))

0      True
1      True
2      True
3      True
4      True
       ...
145    True
146    True
147    True
148    True
149    True
Name: petallength, Length: 150, dtype: bool

5.Compute the SD of all coloumns for  each Irs Species

In [ ]:

print("standard deviation of sepal length",iris['sepallength'].std())
print("standard deviation of sepal width",iris['sepalwidth'].std())
print("standard deviation of petal length",iris['petallength'].std())
print("standard deviation of petal width",iris['petalwidth'].std())

standard deviation of sepal length 0.828066127977863
standard deviation of sepal width 0.4335943113621737
standard deviation of petal length 1.7644204199522626
standard deviation of petal width 0.7631607417008411

In [ ]:
!pip install pydub

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pydub in /usr/local/lib/python3.10/dist-packages (0.25.1)

In [ ]:
# import required modules
from pydub import AudioSegment
from pydub.playback import play

# for playing wav file
song = AudioSegment.from_mp3('/content/gdrive/MyDrive/principle of datascience/ring.mp3')
print('playing sound using  pydub')
play(song)

playing sound using  pydub